<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>ActHasForm</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
 <link  th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
   <div class="edit">
		<h1 class = "text-center"> ActHasForm </h1>
	
		<form th:action="@{/acthasform/update/{id} (id=${acthasform.id})}" th:object = "${acthasform}" method="POST">
			<fieldset>
			<div >
				<label>Id: <span th:text = "*{formId.okudCd}" class="font-weight-bold"> </span></label>
				<input type="number" name="id" th:field = "*{id}" readonly="readonly" hidden="true">
			</div>
			<div>
				<label >Указание:  <span  type="text"  th:text = "*{actId.number}" readonly="readonly" class="font-weight-bold"></span></label>
			
			<input  type="text" name="actId"  th:field = "*{actId.id}" hidden="true" readonly="readonly">
				
			</div>
			<div>
				<label>ОКУД: <span type="text"  th:text= "*{formId.okudCd}" readonly="readonly" class="font-weight-bold"></span></label>
				
				<input  hidden="true" type="text" name="formId" th:field = "*{formId.id}" readonly="readonly">
			</div>
			<div >
				<label>Примечание</label><br>
				<textarea type="text" name="note" th:field = "*{note}"></textarea>
				 <p></p>
			</div>
			
			<div>
				<input type="submit" value="Сохранить" class = "btn btn-primary">
			</div>
			</fieldset>
			</form>
			
	</div>
<script >
var tx = document.getElementsByTagName('textarea');
var tp = document.getElementsByTagName('div');
for (var i = 0; i < tx.length; i++) {

tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight) + 'px;overflow-y:hidden;');

tx[i].addEventListener("input", OnInput, false);

}
for (var i = 0; i < tp.length; i++) {

	tp[i].setAttribute('style', 'height:' + (tp[i].scrollHeight) + 'px;overflow-y:hidden;');

	tp[i].addEventListener("input", OnInput, false);

	}
function OnInput() {

this.style.height = 'auto';

this.style.height = (this.scrollHeight) + 'px';

}
</script>
</body>
</html>