<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Формы</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
 <link th:href="@{/css/style.css}" rel="stylesheet" /> 
</head>
<body>
<!-- 	<div class="conteiner_create"> -->
<div >
		<h1 class="text-center">Новая форма</h1>

		<form class="create-form" th:action="@{/regulatoryform/create/}"
			th:object="${regulatoryform}" method="POST">
			<fieldset>
			<table border="1">
			
			 <tr >
			 <td rowspan="2" >
			
				<div style="text-align:left;">
					<label style="text-align:left;">Id</label> 
					<input type="number" name="id" th:field="*{id}"
						readonly="readonly" >
				</div>
				
				<div>
					<label>Okud_cd</label> <input type="text" name="okudCd"
						th:field="*{okudCd}" ></input>
				</div>
				<div>
					<label>Form_nm</label>
					<textarea name="formNm" th:field="*{formNm}" ></textarea>
				</div>
				<div>
					<label>Form_note</label>
					<textarea name="formNote" th:field="*{formNote}"></textarea>
				</div>
				<div>
					<label>Eff_dt</label> <input type="date" name="effDt"
						th:field="*{effDt}">
				</div>
				<div>
					<label>End_dt</label> <input type="date" name="endDt"
						th:field="*{endDt}">
				</div>
				<div>
					<label>Aff_dt</label> <input type="date" name="affDt"
						th:field="*{affDt}">
				</div>
									
				</td>
				<td>   </td>
				<td>
				<h1 class="text-center">ActHasForm</h1>
				<div style="text-align: center;">
				<div>
					<label>Связанное Указание</label> <select  style="width: 600px;"  class="form-control"
						th:field="${acthasform.actId}">
						<option th:each="actlist : ${actlist}" th:value="${actlist.id}"
							th:text="${actlist.number}+ ' от ' +${actlist.date}"></option>
					</select>
				</div>

				<div>
					<label for="note">Note</label>
					<div><textarea name="note" th:field="${acthasform.note}"></textarea></div>
					
				</div>
				</div>
</td>
</tr>
<tr>
<td>  </td>
<td >

				<h1 class="text-center">Периодичность формы</h1>
				
					<!-- <input 	type="checkbox" 
                		th:name="formFrequency"
                		th:each="formfrequency : ${formfrequencylist}" 
                		th:value="${formfrequency.id}" 
                		th:text="${formfrequency.frequencyNm}"
                        th:field="*{formFrequency}" >  тут что-то нужно сделать дополнительно -->


					<ul>
					<th:block th:each="frequency : ${formfrequencylist}">
						<input type="checkbox"
					           name="cers" 
							   th:value="${frequency.id}" /> 
					    <label th:text="${frequency.frequencyNm}"></label>
					  </th:block>
					</ul>
</td></tr>
<tr>
<td colspan="2" sytle="text-align: center"><div sytle="text-align: right">
						<input type="submit" value="Сохранить"
							class="btn btn-success btn-lg lg-3" style="margin: 5px;">
					</div></td>
</tr>


				</table>
			</fieldset>
		</form>
	</div>
	<script>
		var tx = document.getElementsByTagName('textarea');
		var tp = document.getElementsByTagName('div');
		for (var i = 0; i < tx.length; i++) {

			tx[i].setAttribute('style', 'height:' + (tx[i].scrollHeight)
					+ 'px;overflow-y:hidden;');

			tx[i].addEventListener("input", OnInput, false);

		}
		for (var i = 0; i < tp.length; i++) {

			tp[i].setAttribute('style', 'height:' + (tp[i].scrollHeight)
					+ 'px;overflow-y:hidden;');

			tp[i].addEventListener("input", OnInput, false);

		}
		function OnInput() {

			this.style.height = 'auto';

			this.style.height = (this.scrollHeight) + 'px';

		}
	</script>
</body>
</html>