<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<meta charset="UTF-8">
<title>ActRelation</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link  th:href="@{/css/style.css}" rel="stylesheet" />
 <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js">
  </script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
  </script>
</head>
<body>
 
	<div class="conteiner">
	<div>
	<h3 >
		
		<a th:href = "@{../acthasform/}" style="margin-left: 50px;"> ActHasForm</a>
		<a th:href = "@{../formfrequency/}" style="margin-left: 50px;"> Периодичность</a>
		<a th:href = "@{../formhasfrequency/}" style="margin-left: 50px;"> FormHasFrequency</a>
		<a th:href = "@{../regulatoryact/}" style="margin-left: 50px;"> Указания</a>
		<a th:href = "@{../regulatoryform/}" style="margin-left: 50px;"> Формы</a>
		<a th:href = "@{../relationtype/}" style="margin-left: 50px;"> RelationType</a>
		<a th:href = "@{../functionalrequirements/}" style="margin-left: 50px;"> ФТ</a>
	</h3>
	</div>
		<div class="row">
			<h1>Связи Указаний (act_relation)</h1>   
		</div>
		<div >
  <div class = "col-lg-3">
             <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
				<a th:href = "@{/actrelation/insert/}" class = "btn btn-primary btn-sm mb-3"> Insert new ActRelation</a>
		     </div>
			</div> 
		</div>
	
		<table id="search" class="table  table-striped table-hover table-sm">
			<thead class="table-dark">
				<tr>
					<td>Id</td>
					<td>Left_act_id</td>
					<td>Rigth_act_id</td>
					<td>Relation_type_id</td>
					<td class="actions">Actions</td>
				</tr>
			</thead>
			<tbody class="table-group-divider  align-middle">
				<tr th:each = "actrelation:${actrelation}">
					<td th:text="${actrelation.id}"></td>
					<td th:text="${actrelation.leftActId.number} +' от '+ ${actrelation.leftActId.date}"></td>
					<td th:text="${actrelation.rightActId.number} +' от '+ ${actrelation.rightActId.date}"></td>
					<td th:text="${actrelation.relationTypeId.description}"></td>
					<td class="button">
					  <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
						<a th:href="@{/actrelation/update/{id}(id=${actrelation.id})}" class = "btn btn-primary">Update</a>
						<a th:href="@{/actrelation/delete/{id}(id=${actrelation.id})}" class = "btn btn-danger" onclick="return confirm('Удалить файл?')">Delete</a>
					 </div>
					</td>
				</tr>
			</tbody>
		</table>
	
	</div>
<script>
      $(document).ready(function () {
        var myTable = $("#search").DataTable({
          paging: false,
          searching: true,
          info: false,
        });
 
        myTable
          .flatten()
          .each(function (colID) {
 
            var mySelectList = $("<select />")
              .appendTo(myTable.column(colID).header())
              .on("change", function () {
                myTable.column(colID).search($(this).val());
                myTable.column(colID).draw();
              });
 
            myTable
              .column(colID)
              .cache("search")
              .sort()
              .each(function (param) {
                mySelectList.append(
                  $('<option value="' + param + '">'
                    + param + "</option>")
                );
              });
          });
      });
  </script>
</body>
</html>